### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule finanse-osobiste-strona-glowna index.html
RewriteRule bilans-wydatkow-i-przychodow-podsumowanie bilans.html
RewriteRule logowanie logowanie.html
RewriteRule zarejestruj-sie-i-zapanuj-nad-portfelem rejestracja.html
RewriteRule dodaj-nowy-wydatek-lub-przychod dodaj.html